.cards-main-container {
  /* background-color: rgb(34, 0, 255); */
  /* height: 300px; */
  width: 100%;
  display: grid;
  padding: 24px;
  gap: 24px;
  grid-template-columns: repeat(auto-fit, 250px);
  cursor: pointer;
  justify-content: center;
  /* grid-auto-rows: 300px; */
}

.cards-item {
  /* height: 200px;
    width: 100px; */
  background-color: white;
}
.card-img1 {
  width: 250px;
  height: 140px;
  border-radius: 5%;
  background-color: #00000000;
  margin-bottom: 8px;
}
.card-img2 {
  width: 250px;
  height: 140px;
  border-radius: 5%;
  background-color: #00000000;
  display: none;
  margin-bottom: 8px;
}
.cards-item:hover {
  .card-img1 {
    display: none;
  }
  .card-img2 {
    display: block;
  }
  .watch-icon {
    display: block;
  }
  .playlist-icon {
    display: block;
  }
}
.title1 {
  color: #0f0f0f;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
}
.views1 {
  /* color: #606060; */
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.8rem;
  font-weight: 400;
}
.days1 {
  /* color: #606060; */
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.8rem;
  font-weight: 400;
}
.image-container {
  position: relative;
  width: 250px;
  height: 140px;
}
.video-duration {
  position: absolute;
  margin-left: 215px;
  bottom: 8px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
  color: white;
  background-color: rgba(0, 0, 0, 0.571);
  border-radius: 10%;
  padding: 4px;
}
.watch-icon-container {
  position: absolute;
  top: 10px;
  margin-left: 215px;

  background-color: black;
  border-radius: 20%;
  padding: 1px;
}
.watch-icon {
  filter: invert(100%);
  display: none;
}
.playlist-icon-container {
  position: absolute;
  top: 40px;
  margin-left: 215px;
  background-color: black;
  border-radius: 20%;
  padding: 1px;
}
.playlist-icon {
  filter: invert(100%);
  display: none;
}
.dot {
  border-radius: 50%;
  height: 3px;
  width: 3px;
  background-color: black;
  /* display: inline; */
}
.heading-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.comment-text{
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* gap: 10px; */
  gap: 15px;
}
